html, body {
	font-size: 14px;
	color: #555;
}

form {
	width: 50vw;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 20px 40px;
}

form button {
	width: 100px;
	height: 24px;
	cursor: pointer;
}

.form-title {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}

.form-row {
	padding: 10px 0;
	display: flex;
}

.form-row:not(:last-child) {
	border-bottom: 1px dashed #DDD;
}

.form-row label {
	margin-right: 10px;
	min-width: 100px;
	display: inline-block;
}

.form-row input {
	min-width: 200px;
}
